{% extends 'base.html.twig' %}

{% block title 'Modifier relevé' %}

{% block body %}

<div class="container"> 
    <h1>Nouveau relevé</h1>

    {{ include('ceciestuntest/_form.html.twig', {form: form, button:"Modifier"}) }}

</div>

{% endblock %}